$header-height: 50px;
.header {
  width: 100vw;
  min-height: $header-height;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  .logo-wrapper {
    width: $header-height;
    height: $header-height;
    img {
      width: $header-height;
      height: $header-height; 
    }
  }
  .header-content {
    padding-left: 30px;
    padding-right: 40px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    .tokens {
      text-decoration: underline;
      font-weight: bold;
    }
    .connect-wallet-btn {
      float: right;
      height: $header-height - 15px;
      margin: auto;
      margin-right: 0;
      background-color: black;
      color:#a485e7;
      border-color: #a485e7 solid 2px;
      &:hover {
        background-color: #a485e7;
        color:black;
        border-color: black solid 2px;
      }
    }
  }

}