.main {
  background-color: "#F8F6F9";
  width: 80vw;
  margin: auto;
  h1.flows-title {
    display: inline-block;
  }
  .add-box-icon {
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      color: purple;
    }
  }

  .flow-card {
    margin: 20px;
    box-shadow: 5px 5px 3px #888888;

    .inflow-rate {
      color:#7EF0B3;

    }
    .outflow-rate {
      color:#F07E7E;

    }
  }
}
