.main {
  background-color: "#F8F6F9";
  width: 80vw;
  margin: auto;
  h1.flows-title {
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
  }
  .add-box-icon {
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    bottom: 8px;
    &:hover {
      color: purple;
    }
  }

  .flow-card {
    margin: 20px;
    box-shadow: 5px 5px 3px #888888;

    .card-title {
      font-size: 24px;
      font-weight: bold;
      .address {
        color:#707070;
        font-size: 12px;
      }
    }

    .card-text {
      color:#707070;
    }

    .saving-amount {
      font-weight: bold;
    }

    .inflow-rate {
      color:#7EF0B3;
      font-weight: bold;
    }
    .outflow-rate {
      color:#F07E7E;
      font-weight: bold;
    }
  }
}
